#knappar_div{
    /* Style taggar för att formattera knapparna rätt samt sätta bakgrundsfärg, storlek etc. */
    overflow: hidden;
    background-color: beige;
    align-items: center;
    height: 50%;
    width: 42%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    margin: auto;
}

.knapp{
    /* Style taggar för själva knapparna. Jag använder % för att sidan ska bli naturligt responsiv. */
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 5% 8%;
    margin: 0.5dvi;
    height: 20%;
    width: 60%;
    margin-left: 23%;
    border-radius: 8px;
    word-wrap: break-word;
    box-sizing: content-box;
}

/* Ändrar färgen när musen kommer över knappen. */
.knapp:hover{
    background-color: rgb(5, 96, 186);
}